<header class="page-header">
<h1><%= link_to('Awesome Library', root_path) %></h1>
<%= form_tag(search_path, method: :get) do %>
	<%= text_field_tag "query", @query %>
	<%= submit_tag "Search" %>
<% end %>

</header>