<header class="page-header">
<h1><%= link_to('Awesome Library', root_path) %></h1>
<form action = "&object_url(Post)" method = "Get">
	<label for = "query">Search</label>
	<input type = "text" name = "query" value = "" />
	<submit label = "Search" />
</form>
</header>