body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.btn-align-right{
  align: right;
}



p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
.btn-aln-rt{
  position:absolute;
  right:30px;
}
.res-bg{
  
  background-color: #F8F8FE;
  
}


#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.cover_image{
  height: 150px;
  float: left;
  padding: 0px 20px 10px 0px;
  margin-right: 13px;
  overflow: hidden;
  clear: both;
  margin-bottom: 18px;
}

.links{
  display: inline;
}

.delete-btn{
  background-color:red !important;
  border: 1px solid red !important;
}
    .delete-btn:hover{
      background-color:maroon !important;

    }


