<% content_for :searches, @book.search %>

<%# <%= render 'shared/flashes' %>

<article class="book">
  <header>
    <h2>Search Results</h2>
  </header>
  <p><%= image_tag @book.image_cover_url, class:"cover_image" %> </p>
  <h4><%= link_to @book.title %></h4>
  <p><label>by </label><%= link_to @book.author %> </p>

</article>


